*{
    padding:0;
    margin:0;
    font-family:Ebrima;
    box-sizing:border-box;
    background:white;
}
li{
    text-decoration:none;
    list-style:none;
}
.navbar{
    height:8vh;
    /*line-height:2vh;*/
    line-height:8vh;
    box-shadow:rgba(50,50,93,0.23) 0 20px 20px -15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px;
    top:0;
    position:sticky;
}
.logo{
    font-size: 18px;
}
.nav-links{
    display: flex;
    justify-content:flex-end;
    width:75%;
}
/*.container{
    max-width: 90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}*/
.nav-links li{
    font-size:16px;
    padding: 0 10px;
    margin:0 10px;   
}
.nav-links li a{
    color:black;
    text-transform:capitalize;
    text-decoration:none;
    cursor:pointer;
    font-weight:bolder;
}
.nav-links li a:hover{
    color:#2c3e50;
}
.nav-links li a.active{
    color:#2c3e50;
}
.lblue{
    color:#086B7D;
}
button{
    border:none;
    background:none;
    font-size: 20px;
}
.mobile-bars{
    display:none;
}
@media (max-width:768px){
    /*.navbar{
        top:0;
        position:sticky;
    }*/
    .logo{
        display:flex;
        position:absolute;
        top: 0px;
        left: 35px;
        font-size:18px;
    }
    .nav-links{
        display:none;
    }
    .nav-links-mobile{
        line-height: 2vh;
        position:absolute;
        display:block;
        list-style:none;
        box-shadow:rgba(50,50,93,0.23) 0 20px 20px -15px;
        left:0;
        top:15%;
        transition: all 0.5s ease in out;
        width:100%;
        background-color:white;
    }
    ul li{
        padding:32px;
        width:100%;
        transition: all 0.5s ease-in-out;
        text-align:center;
    }
    ul li a{
        text-decoration:none;
        color:black;
    }
    .mobile-bars{
        position:absolute;
        display:block;
        right:20px;
    }
}
